/*
 * nlpapiv2
 * The powerful Natural Language Processing APIs (v2) let you perform part of speech tagging, entity identification, sentence parsing, and much more to help you understand the meaning of unstructured text.
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.cloudmersive.client.ntv;

import com.cloudmersive.client.ntv.invoker.ApiClient;
import com.cloudmersive.client.ntv.invoker.ApiException;
import com.cloudmersive.client.ntv.invoker.ApiResponse;
import com.cloudmersive.client.ntv.invoker.Pair;

import com.cloudmersive.client.ntv.model.LanguageTranslationRequest;
import com.cloudmersive.client.ntv.model.LanguageTranslationResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-10-15T17:56:20.807345200-07:00[America/Los_Angeles]")
public class LanguageTranslationApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public LanguageTranslationApi() {
    this(new ApiClient());
  }

  public LanguageTranslationApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Translate German to English text with Deep Learning AI
   * Automatically translates input text in German to output text in English using advanced Deep Learning and Neural NLP.  Consumes 1-2 API calls per input sentence.
   * @param input Input translation request (required)
   * @return LanguageTranslationResponse
   * @throws ApiException if fails to make API call
   */
  public LanguageTranslationResponse languageTranslationTranslateDeuToEng(LanguageTranslationRequest input) throws ApiException {
    ApiResponse<LanguageTranslationResponse> localVarResponse = languageTranslationTranslateDeuToEngWithHttpInfo(input);
    return localVarResponse.getData();
  }

  /**
   * Translate German to English text with Deep Learning AI
   * Automatically translates input text in German to output text in English using advanced Deep Learning and Neural NLP.  Consumes 1-2 API calls per input sentence.
   * @param input Input translation request (required)
   * @return ApiResponse&lt;LanguageTranslationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LanguageTranslationResponse> languageTranslationTranslateDeuToEngWithHttpInfo(LanguageTranslationRequest input) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = languageTranslationTranslateDeuToEngRequestBuilder(input);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("languageTranslationTranslateDeuToEng", localVarResponse);
        }
        return new ApiResponse<LanguageTranslationResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LanguageTranslationResponse>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder languageTranslationTranslateDeuToEngRequestBuilder(LanguageTranslationRequest input) throws ApiException {
    // verify the required parameter 'input' is set
    if (input == null) {
      throw new ApiException(400, "Missing the required parameter 'input' when calling languageTranslationTranslateDeuToEng");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/nlp-v2/translate/language/deu/to/eng";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(input);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Translate English to German text with Deep Learning AI
   * Automatically translates input text in English to output text in German using advanced Deep Learning and Neural NLP.  Consumes 1-2 API calls per input sentence.
   * @param input Input translation request (required)
   * @return LanguageTranslationResponse
   * @throws ApiException if fails to make API call
   */
  public LanguageTranslationResponse languageTranslationTranslateEngToDeu(LanguageTranslationRequest input) throws ApiException {
    ApiResponse<LanguageTranslationResponse> localVarResponse = languageTranslationTranslateEngToDeuWithHttpInfo(input);
    return localVarResponse.getData();
  }

  /**
   * Translate English to German text with Deep Learning AI
   * Automatically translates input text in English to output text in German using advanced Deep Learning and Neural NLP.  Consumes 1-2 API calls per input sentence.
   * @param input Input translation request (required)
   * @return ApiResponse&lt;LanguageTranslationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LanguageTranslationResponse> languageTranslationTranslateEngToDeuWithHttpInfo(LanguageTranslationRequest input) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = languageTranslationTranslateEngToDeuRequestBuilder(input);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("languageTranslationTranslateEngToDeu", localVarResponse);
        }
        return new ApiResponse<LanguageTranslationResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LanguageTranslationResponse>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder languageTranslationTranslateEngToDeuRequestBuilder(LanguageTranslationRequest input) throws ApiException {
    // verify the required parameter 'input' is set
    if (input == null) {
      throw new ApiException(400, "Missing the required parameter 'input' when calling languageTranslationTranslateEngToDeu");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/nlp-v2/translate/language/eng/to/deu";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(input);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Translate English to French text with Deep Learning AI
   * Automatically translates input text in English to output text in French using advanced Deep Learning and Neural NLP.  Consumes 1-2 API calls per input sentence.
   * @param input Input translation request (required)
   * @return LanguageTranslationResponse
   * @throws ApiException if fails to make API call
   */
  public LanguageTranslationResponse languageTranslationTranslateEngToFra(LanguageTranslationRequest input) throws ApiException {
    ApiResponse<LanguageTranslationResponse> localVarResponse = languageTranslationTranslateEngToFraWithHttpInfo(input);
    return localVarResponse.getData();
  }

  /**
   * Translate English to French text with Deep Learning AI
   * Automatically translates input text in English to output text in French using advanced Deep Learning and Neural NLP.  Consumes 1-2 API calls per input sentence.
   * @param input Input translation request (required)
   * @return ApiResponse&lt;LanguageTranslationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LanguageTranslationResponse> languageTranslationTranslateEngToFraWithHttpInfo(LanguageTranslationRequest input) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = languageTranslationTranslateEngToFraRequestBuilder(input);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("languageTranslationTranslateEngToFra", localVarResponse);
        }
        return new ApiResponse<LanguageTranslationResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LanguageTranslationResponse>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder languageTranslationTranslateEngToFraRequestBuilder(LanguageTranslationRequest input) throws ApiException {
    // verify the required parameter 'input' is set
    if (input == null) {
      throw new ApiException(400, "Missing the required parameter 'input' when calling languageTranslationTranslateEngToFra");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/nlp-v2/translate/language/eng/to/fra";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(input);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Translate English to Russian text with Deep Learning AI
   * Automatically translates input text in English to output text in Russian using advanced Deep Learning and Neural NLP.  Consumes 1-2 API calls per input sentence.
   * @param input Input translation request (required)
   * @return LanguageTranslationResponse
   * @throws ApiException if fails to make API call
   */
  public LanguageTranslationResponse languageTranslationTranslateEngToRus(LanguageTranslationRequest input) throws ApiException {
    ApiResponse<LanguageTranslationResponse> localVarResponse = languageTranslationTranslateEngToRusWithHttpInfo(input);
    return localVarResponse.getData();
  }

  /**
   * Translate English to Russian text with Deep Learning AI
   * Automatically translates input text in English to output text in Russian using advanced Deep Learning and Neural NLP.  Consumes 1-2 API calls per input sentence.
   * @param input Input translation request (required)
   * @return ApiResponse&lt;LanguageTranslationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LanguageTranslationResponse> languageTranslationTranslateEngToRusWithHttpInfo(LanguageTranslationRequest input) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = languageTranslationTranslateEngToRusRequestBuilder(input);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("languageTranslationTranslateEngToRus", localVarResponse);
        }
        return new ApiResponse<LanguageTranslationResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LanguageTranslationResponse>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder languageTranslationTranslateEngToRusRequestBuilder(LanguageTranslationRequest input) throws ApiException {
    // verify the required parameter 'input' is set
    if (input == null) {
      throw new ApiException(400, "Missing the required parameter 'input' when calling languageTranslationTranslateEngToRus");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/nlp-v2/translate/language/eng/to/rus";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(input);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Translate French to English text with Deep Learning AI
   * Automatically translates input text in French to output text in English using advanced Deep Learning and Neural NLP.  Consumes 1-2 API calls per input sentence.
   * @param input Input translation request (required)
   * @return LanguageTranslationResponse
   * @throws ApiException if fails to make API call
   */
  public LanguageTranslationResponse languageTranslationTranslateFraToEng(LanguageTranslationRequest input) throws ApiException {
    ApiResponse<LanguageTranslationResponse> localVarResponse = languageTranslationTranslateFraToEngWithHttpInfo(input);
    return localVarResponse.getData();
  }

  /**
   * Translate French to English text with Deep Learning AI
   * Automatically translates input text in French to output text in English using advanced Deep Learning and Neural NLP.  Consumes 1-2 API calls per input sentence.
   * @param input Input translation request (required)
   * @return ApiResponse&lt;LanguageTranslationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LanguageTranslationResponse> languageTranslationTranslateFraToEngWithHttpInfo(LanguageTranslationRequest input) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = languageTranslationTranslateFraToEngRequestBuilder(input);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("languageTranslationTranslateFraToEng", localVarResponse);
        }
        return new ApiResponse<LanguageTranslationResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LanguageTranslationResponse>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder languageTranslationTranslateFraToEngRequestBuilder(LanguageTranslationRequest input) throws ApiException {
    // verify the required parameter 'input' is set
    if (input == null) {
      throw new ApiException(400, "Missing the required parameter 'input' when calling languageTranslationTranslateFraToEng");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/nlp-v2/translate/language/fra/to/eng";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(input);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Translate Russian to English text with Deep Learning AI
   * Automatically translates input text in Russian to output text in English using advanced Deep Learning and Neural NLP.  Consumes 1-2 API calls per input sentence.
   * @param input Input translation request (required)
   * @return LanguageTranslationResponse
   * @throws ApiException if fails to make API call
   */
  public LanguageTranslationResponse languageTranslationTranslateRusToEng(LanguageTranslationRequest input) throws ApiException {
    ApiResponse<LanguageTranslationResponse> localVarResponse = languageTranslationTranslateRusToEngWithHttpInfo(input);
    return localVarResponse.getData();
  }

  /**
   * Translate Russian to English text with Deep Learning AI
   * Automatically translates input text in Russian to output text in English using advanced Deep Learning and Neural NLP.  Consumes 1-2 API calls per input sentence.
   * @param input Input translation request (required)
   * @return ApiResponse&lt;LanguageTranslationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LanguageTranslationResponse> languageTranslationTranslateRusToEngWithHttpInfo(LanguageTranslationRequest input) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = languageTranslationTranslateRusToEngRequestBuilder(input);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("languageTranslationTranslateRusToEng", localVarResponse);
        }
        return new ApiResponse<LanguageTranslationResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LanguageTranslationResponse>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder languageTranslationTranslateRusToEngRequestBuilder(LanguageTranslationRequest input) throws ApiException {
    // verify the required parameter 'input' is set
    if (input == null) {
      throw new ApiException(400, "Missing the required parameter 'input' when calling languageTranslationTranslateRusToEng");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/nlp-v2/translate/language/rus/to/eng";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(input);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
