/*
 * convertapi
 * Convert API lets you effortlessly convert file formats and types.
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.cloudmersive.client.native;

import com.cloudmersive.client.native.invoker.ApiClient;
import com.cloudmersive.client.native.invoker.ApiException;
import com.cloudmersive.client.native.invoker.ApiResponse;
import com.cloudmersive.client.native.invoker.Pair;

import com.cloudmersive.client.native.model.AutodetectGetInfoResult;
import com.cloudmersive.client.native.model.AutodetectToJpgResult;
import com.cloudmersive.client.native.model.AutodetectToPngResult;
import com.cloudmersive.client.native.model.AutodetectToThumbnailsResult;
import com.cloudmersive.client.native.model.CsvCollection;
import com.cloudmersive.client.native.model.DocxToJpgResult;
import com.cloudmersive.client.native.model.DocxToPngResult;
import com.cloudmersive.client.native.model.EmlToHtmlResult;
import com.cloudmersive.client.native.model.EmlToJpgResult;
import com.cloudmersive.client.native.model.EmlToPngResult;
import java.io.File;
import com.cloudmersive.client.native.model.GetFileTypeIconResult;
import com.cloudmersive.client.native.model.KeynoteToJpgResult;
import com.cloudmersive.client.native.model.KeynoteToPngResult;
import com.cloudmersive.client.native.model.MsgToHtmlResult;
import com.cloudmersive.client.native.model.MsgToJpgResult;
import com.cloudmersive.client.native.model.MsgToPngResult;
import com.cloudmersive.client.native.model.OdpToJpgResult;
import com.cloudmersive.client.native.model.OdpToPngResult;
import com.cloudmersive.client.native.model.OdsToJpgResult;
import com.cloudmersive.client.native.model.OdsToPngResult;
import com.cloudmersive.client.native.model.OdtToJpgResult;
import com.cloudmersive.client.native.model.OdtToPngResult;
import com.cloudmersive.client.native.model.PdfToJpgResult;
import com.cloudmersive.client.native.model.PdfToPngResult;
import com.cloudmersive.client.native.model.PptxToPngResult;
import com.cloudmersive.client.native.model.RtfToJpgResult;
import com.cloudmersive.client.native.model.RtfToPngResult;
import com.cloudmersive.client.native.model.TextConversionResult;
import com.cloudmersive.client.native.model.XlsxToPngResult;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-10-15T17:28:09.672516700-07:00[America/Los_Angeles]")
public class ConvertDocumentApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ConvertDocumentApi() {
    this(new ApiClient());
  }

  public ConvertDocumentApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Get document type information
   * Auto-detects a document&#39;s type information; does not require file extension.  Analyzes file contents to confirm file type.  Even if no file extension is present, the auto-detect system will reliably analyze the contents of the file and identify its file type.  Supports over 100 image file formats, Office document file formats, PDF, and more.
   * @param inputFile Input file to perform the operation on. (required)
   * @return AutodetectGetInfoResult
   * @throws ApiException if fails to make API call
   */
  public AutodetectGetInfoResult convertDocumentAutodetectGetInfo(File inputFile) throws ApiException {
    ApiResponse<AutodetectGetInfoResult> localVarResponse = convertDocumentAutodetectGetInfoWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Get document type information
   * Auto-detects a document&#39;s type information; does not require file extension.  Analyzes file contents to confirm file type.  Even if no file extension is present, the auto-detect system will reliably analyze the contents of the file and identify its file type.  Supports over 100 image file formats, Office document file formats, PDF, and more.
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;AutodetectGetInfoResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AutodetectGetInfoResult> convertDocumentAutodetectGetInfoWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentAutodetectGetInfoRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentAutodetectGetInfo", localVarResponse);
        }
        return new ApiResponse<AutodetectGetInfoResult>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<AutodetectGetInfoResult>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentAutodetectGetInfoRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentAutodetectGetInfo");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/autodetect/get-info";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, text/json, application/xml, text/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Document to JPG/JPEG image array
   * Automatically detect file type and convert it to an array of JPG/JPEG Images.  Supports all of the major Office document file formats including Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT), over 100 image formats, HTML files, and even multi-page TIFF files. Customize image quality using quality header.
   * @param inputFile Input file to perform the operation on. (required)
   * @param quality Optional; Set the JPEG quality level; lowest quality is 1 (highest compression), highest quality (lowest compression) is 100; recommended value is 75. Default value is 75. (optional)
   * @return AutodetectToJpgResult
   * @throws ApiException if fails to make API call
   */
  public AutodetectToJpgResult convertDocumentAutodetectToJpg(File inputFile, Integer quality) throws ApiException {
    ApiResponse<AutodetectToJpgResult> localVarResponse = convertDocumentAutodetectToJpgWithHttpInfo(inputFile, quality);
    return localVarResponse.getData();
  }

  /**
   * Convert Document to JPG/JPEG image array
   * Automatically detect file type and convert it to an array of JPG/JPEG Images.  Supports all of the major Office document file formats including Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT), over 100 image formats, HTML files, and even multi-page TIFF files. Customize image quality using quality header.
   * @param inputFile Input file to perform the operation on. (required)
   * @param quality Optional; Set the JPEG quality level; lowest quality is 1 (highest compression), highest quality (lowest compression) is 100; recommended value is 75. Default value is 75. (optional)
   * @return ApiResponse&lt;AutodetectToJpgResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AutodetectToJpgResult> convertDocumentAutodetectToJpgWithHttpInfo(File inputFile, Integer quality) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentAutodetectToJpgRequestBuilder(inputFile, quality);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentAutodetectToJpg", localVarResponse);
        }
        return new ApiResponse<AutodetectToJpgResult>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<AutodetectToJpgResult>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentAutodetectToJpgRequestBuilder(File inputFile, Integer quality) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentAutodetectToJpg");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/autodetect/to/jpg";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (quality != null) {
      localVarRequestBuilder.header("quality", quality.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json, text/json, application/xml, text/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Document to PDF
   * Automatically detect file type and convert it to PDF.  Supports all of the major Office document file formats including Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT), over 100 image formats, HTML files, and even multi-page TIFF files.
   * @param inputFile Input file to perform the operation on. (required)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentAutodetectToPdf(File inputFile) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentAutodetectToPdfWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert Document to PDF
   * Automatically detect file type and convert it to PDF.  Supports all of the major Office document file formats including Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT), over 100 image formats, HTML files, and even multi-page TIFF files.
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentAutodetectToPdfWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentAutodetectToPdfRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentAutodetectToPdf", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentAutodetectToPdfRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentAutodetectToPdf");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/autodetect/to/pdf";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Document to PNG array
   * Automatically detect file type and convert it to an array of PNG images.  Supports all of the major Office document file formats, over 100 image formats, and even multi-page TIFF files.
   * @param inputFile Input file to perform the operation on. (required)
   * @return AutodetectToPngResult
   * @throws ApiException if fails to make API call
   */
  public AutodetectToPngResult convertDocumentAutodetectToPngArray(File inputFile) throws ApiException {
    ApiResponse<AutodetectToPngResult> localVarResponse = convertDocumentAutodetectToPngArrayWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert Document to PNG array
   * Automatically detect file type and convert it to an array of PNG images.  Supports all of the major Office document file formats, over 100 image formats, and even multi-page TIFF files.
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;AutodetectToPngResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AutodetectToPngResult> convertDocumentAutodetectToPngArrayWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentAutodetectToPngArrayRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentAutodetectToPngArray", localVarResponse);
        }
        return new ApiResponse<AutodetectToPngResult>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<AutodetectToPngResult>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentAutodetectToPngArrayRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentAutodetectToPngArray");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/autodetect/to/png";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, text/json, application/xml, text/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert File to Thumbnail Image
   * Automatically detect file type and convert it to a PNG thumbnail. Supports all of the major Office document file formats including Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT), over 100 image formats, HTML files, and even multi-page TIFF files. Returns a generic PNG thumbnail for unsupported formats. Maximum thumbnail size is 2048x2048.
   * @param inputFile Input file to perform the operation on. (required)
   * @param maxWidth Optional; Maximum width of the output thumbnail - final image will be as large as possible while less than or equal to this width. Default is 128. (optional)
   * @param maxHeight Optional; Maximum height of the output thumbnail - final image will be as large as possible while less than or equal to this width. Default is 128. (optional)
   * @param extension Optional; Specify the file extension of the inputFile. This will improve the response time in most cases. Also allows unsupported files without extensions to still return a corresponding generic icon. (optional)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentAutodetectToThumbnail(File inputFile, Integer maxWidth, Integer maxHeight, String extension) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentAutodetectToThumbnailWithHttpInfo(inputFile, maxWidth, maxHeight, extension);
    return localVarResponse.getData();
  }

  /**
   * Convert File to Thumbnail Image
   * Automatically detect file type and convert it to a PNG thumbnail. Supports all of the major Office document file formats including Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT), over 100 image formats, HTML files, and even multi-page TIFF files. Returns a generic PNG thumbnail for unsupported formats. Maximum thumbnail size is 2048x2048.
   * @param inputFile Input file to perform the operation on. (required)
   * @param maxWidth Optional; Maximum width of the output thumbnail - final image will be as large as possible while less than or equal to this width. Default is 128. (optional)
   * @param maxHeight Optional; Maximum height of the output thumbnail - final image will be as large as possible while less than or equal to this width. Default is 128. (optional)
   * @param extension Optional; Specify the file extension of the inputFile. This will improve the response time in most cases. Also allows unsupported files without extensions to still return a corresponding generic icon. (optional)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentAutodetectToThumbnailWithHttpInfo(File inputFile, Integer maxWidth, Integer maxHeight, String extension) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentAutodetectToThumbnailRequestBuilder(inputFile, maxWidth, maxHeight, extension);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentAutodetectToThumbnail", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentAutodetectToThumbnailRequestBuilder(File inputFile, Integer maxWidth, Integer maxHeight, String extension) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentAutodetectToThumbnail");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/autodetect/to/thumbnail";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (maxWidth != null) {
      localVarRequestBuilder.header("maxWidth", maxWidth.toString());
    }
    if (maxHeight != null) {
      localVarRequestBuilder.header("maxHeight", maxHeight.toString());
    }
    if (extension != null) {
      localVarRequestBuilder.header("extension", extension.toString());
    }
    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert File to Thumbnail Image Object
   * Automatically detect file type and convert it to an array of PNG thumbnails, returned as an object. May specify the number of pages for multiple thumbnails; default is one thumbnail. Supports all of the major Office document file formats including Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT), over 100 image formats, HTML files, and even multi-page TIFF files. Returns a generic PNG thumbnail for unsupported formats. Maximum thumbnail size is 2048x2048.
   * @param inputFile Input file to perform the operation on. (required)
   * @param pages Optional; Specify how many pages of the document will be converted to thumbnails. Default is 1 page. (optional)
   * @param maxWidth Optional; Maximum width of the output thumbnail - final image will be as large as possible while less than or equal to this width. Default is 128. (optional)
   * @param maxHeight Optional; Maximum height of the output thumbnail - final image will be as large as possible while less than or equal to this width. Default is 128. (optional)
   * @param extension Optional; Specify the file extension of the inputFile. This will improve the response time in most cases. Also allows unsupported files without extensions to still return a corresponding generic icon. (optional)
   * @return AutodetectToThumbnailsResult
   * @throws ApiException if fails to make API call
   */
  public AutodetectToThumbnailsResult convertDocumentAutodetectToThumbnailsAdvanced(File inputFile, Integer pages, Integer maxWidth, Integer maxHeight, String extension) throws ApiException {
    ApiResponse<AutodetectToThumbnailsResult> localVarResponse = convertDocumentAutodetectToThumbnailsAdvancedWithHttpInfo(inputFile, pages, maxWidth, maxHeight, extension);
    return localVarResponse.getData();
  }

  /**
   * Convert File to Thumbnail Image Object
   * Automatically detect file type and convert it to an array of PNG thumbnails, returned as an object. May specify the number of pages for multiple thumbnails; default is one thumbnail. Supports all of the major Office document file formats including Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT), over 100 image formats, HTML files, and even multi-page TIFF files. Returns a generic PNG thumbnail for unsupported formats. Maximum thumbnail size is 2048x2048.
   * @param inputFile Input file to perform the operation on. (required)
   * @param pages Optional; Specify how many pages of the document will be converted to thumbnails. Default is 1 page. (optional)
   * @param maxWidth Optional; Maximum width of the output thumbnail - final image will be as large as possible while less than or equal to this width. Default is 128. (optional)
   * @param maxHeight Optional; Maximum height of the output thumbnail - final image will be as large as possible while less than or equal to this width. Default is 128. (optional)
   * @param extension Optional; Specify the file extension of the inputFile. This will improve the response time in most cases. Also allows unsupported files without extensions to still return a corresponding generic icon. (optional)
   * @return ApiResponse&lt;AutodetectToThumbnailsResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AutodetectToThumbnailsResult> convertDocumentAutodetectToThumbnailsAdvancedWithHttpInfo(File inputFile, Integer pages, Integer maxWidth, Integer maxHeight, String extension) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentAutodetectToThumbnailsAdvancedRequestBuilder(inputFile, pages, maxWidth, maxHeight, extension);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentAutodetectToThumbnailsAdvanced", localVarResponse);
        }
        return new ApiResponse<AutodetectToThumbnailsResult>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<AutodetectToThumbnailsResult>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentAutodetectToThumbnailsAdvancedRequestBuilder(File inputFile, Integer pages, Integer maxWidth, Integer maxHeight, String extension) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentAutodetectToThumbnailsAdvanced");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/autodetect/to/thumbnail/advanced";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (pages != null) {
      localVarRequestBuilder.header("pages", pages.toString());
    }
    if (maxWidth != null) {
      localVarRequestBuilder.header("maxWidth", maxWidth.toString());
    }
    if (maxHeight != null) {
      localVarRequestBuilder.header("maxHeight", maxHeight.toString());
    }
    if (extension != null) {
      localVarRequestBuilder.header("extension", extension.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json, text/json, application/xml, text/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Document to Text (txt)
   * Automatically detect file type and convert it to Text.  Supports all of the major Office document file formats including Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT) and PDF files.  For spreadsheets, all worksheets will be included.  If you wish to exclude certain pages, worksheets, slides, etc. use the Split document API first, or the delete pages/slides/worksheet APIs first to adjust the document to the target state prior to converting to text.
   * @param inputFile Input file to perform the operation on. (required)
   * @param textFormattingMode Optional; specify how whitespace should be handled when converting the document to text.  Possible values are &#39;preserveWhitespace&#39; which will attempt to preserve whitespace in the document and relative positioning of text within the document, and &#39;minimizeWhitespace&#39; which will not insert additional spaces into the document in most cases.  Default is &#39;preserveWhitespace&#39;. (optional)
   * @return TextConversionResult
   * @throws ApiException if fails to make API call
   */
  public TextConversionResult convertDocumentAutodetectToTxt(File inputFile, String textFormattingMode) throws ApiException {
    ApiResponse<TextConversionResult> localVarResponse = convertDocumentAutodetectToTxtWithHttpInfo(inputFile, textFormattingMode);
    return localVarResponse.getData();
  }

  /**
   * Convert Document to Text (txt)
   * Automatically detect file type and convert it to Text.  Supports all of the major Office document file formats including Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT) and PDF files.  For spreadsheets, all worksheets will be included.  If you wish to exclude certain pages, worksheets, slides, etc. use the Split document API first, or the delete pages/slides/worksheet APIs first to adjust the document to the target state prior to converting to text.
   * @param inputFile Input file to perform the operation on. (required)
   * @param textFormattingMode Optional; specify how whitespace should be handled when converting the document to text.  Possible values are &#39;preserveWhitespace&#39; which will attempt to preserve whitespace in the document and relative positioning of text within the document, and &#39;minimizeWhitespace&#39; which will not insert additional spaces into the document in most cases.  Default is &#39;preserveWhitespace&#39;. (optional)
   * @return ApiResponse&lt;TextConversionResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TextConversionResult> convertDocumentAutodetectToTxtWithHttpInfo(File inputFile, String textFormattingMode) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentAutodetectToTxtRequestBuilder(inputFile, textFormattingMode);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentAutodetectToTxt", localVarResponse);
        }
        return new ApiResponse<TextConversionResult>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<TextConversionResult>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentAutodetectToTxtRequestBuilder(File inputFile, String textFormattingMode) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentAutodetectToTxt");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/autodetect/to/txt";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (textFormattingMode != null) {
      localVarRequestBuilder.header("textFormattingMode", textFormattingMode.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json, text/json, application/xml, text/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Multiple CSV Files into a Single XLSX Spreadsheet
   * Convert multiple Comma-Separated Values (CSV) files into a single Excel XLSX Spreadsheet, with one worksheet corresponding to each CSV file.
   * @param inputFile1 First input file to perform the operation on. (required)
   * @param inputFile2 Second input file to perform the operation on. (required)
   * @param worksheetNames Optional; Specify the name of each CSV&#39;s worksheet in order, separated with commas (e.g. \&quot;worksheet1,worksheet2,worksheet3\&quot;). Defaults to the names of the input CSV files. Recommended when inputting the files directly, without file names. (optional)
   * @param inputFile3 Third input file to perform the operation on. (optional)
   * @param inputFile4 Fourth input file to perform the operation on. (optional)
   * @param inputFile5 Fifth input file to perform the operation on. (optional)
   * @param inputFile6 Sixth input file to perform the operation on. (optional)
   * @param inputFile7 Seventh input file to perform the operation on. (optional)
   * @param inputFile8 Eighth input file to perform the operation on. (optional)
   * @param inputFile9 Ninth input file to perform the operation on. (optional)
   * @param inputFile10 Tenth input file to perform the operation on. (optional)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentCsvMultiToXlsx(File inputFile1, File inputFile2, String worksheetNames, File inputFile3, File inputFile4, File inputFile5, File inputFile6, File inputFile7, File inputFile8, File inputFile9, File inputFile10) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentCsvMultiToXlsxWithHttpInfo(inputFile1, inputFile2, worksheetNames, inputFile3, inputFile4, inputFile5, inputFile6, inputFile7, inputFile8, inputFile9, inputFile10);
    return localVarResponse.getData();
  }

  /**
   * Convert Multiple CSV Files into a Single XLSX Spreadsheet
   * Convert multiple Comma-Separated Values (CSV) files into a single Excel XLSX Spreadsheet, with one worksheet corresponding to each CSV file.
   * @param inputFile1 First input file to perform the operation on. (required)
   * @param inputFile2 Second input file to perform the operation on. (required)
   * @param worksheetNames Optional; Specify the name of each CSV&#39;s worksheet in order, separated with commas (e.g. \&quot;worksheet1,worksheet2,worksheet3\&quot;). Defaults to the names of the input CSV files. Recommended when inputting the files directly, without file names. (optional)
   * @param inputFile3 Third input file to perform the operation on. (optional)
   * @param inputFile4 Fourth input file to perform the operation on. (optional)
   * @param inputFile5 Fifth input file to perform the operation on. (optional)
   * @param inputFile6 Sixth input file to perform the operation on. (optional)
   * @param inputFile7 Seventh input file to perform the operation on. (optional)
   * @param inputFile8 Eighth input file to perform the operation on. (optional)
   * @param inputFile9 Ninth input file to perform the operation on. (optional)
   * @param inputFile10 Tenth input file to perform the operation on. (optional)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentCsvMultiToXlsxWithHttpInfo(File inputFile1, File inputFile2, String worksheetNames, File inputFile3, File inputFile4, File inputFile5, File inputFile6, File inputFile7, File inputFile8, File inputFile9, File inputFile10) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentCsvMultiToXlsxRequestBuilder(inputFile1, inputFile2, worksheetNames, inputFile3, inputFile4, inputFile5, inputFile6, inputFile7, inputFile8, inputFile9, inputFile10);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentCsvMultiToXlsx", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentCsvMultiToXlsxRequestBuilder(File inputFile1, File inputFile2, String worksheetNames, File inputFile3, File inputFile4, File inputFile5, File inputFile6, File inputFile7, File inputFile8, File inputFile9, File inputFile10) throws ApiException {
    // verify the required parameter 'inputFile1' is set
    if (inputFile1 == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile1' when calling convertDocumentCsvMultiToXlsx");
    }
    // verify the required parameter 'inputFile2' is set
    if (inputFile2 == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile2' when calling convertDocumentCsvMultiToXlsx");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/csv/multi/to/xlsx";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (worksheetNames != null) {
      localVarRequestBuilder.header("worksheetNames", worksheetNames.toString());
    }
    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert CSV to HTML document
   * Convert Comma-Separated Values (CSV) file to HTML document.
   * @param inputFile Input file to perform the operation on. (required)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentCsvToHtml(File inputFile) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentCsvToHtmlWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert CSV to HTML document
   * Convert Comma-Separated Values (CSV) file to HTML document.
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentCsvToHtmlWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentCsvToHtmlRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentCsvToHtml", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentCsvToHtmlRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentCsvToHtml");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/csv/to/html";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert CSV to PDF document
   * Convert Comma-Separated Values (CSV) file to PDF document.
   * @param inputFile Input file to perform the operation on. (required)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentCsvToPdf(File inputFile) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentCsvToPdfWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert CSV to PDF document
   * Convert Comma-Separated Values (CSV) file to PDF document.
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentCsvToPdfWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentCsvToPdfRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentCsvToPdf", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentCsvToPdfRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentCsvToPdf");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/csv/to/pdf";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert CSV to Excel XLSX Spreadsheet
   * Convert CSV file to Office Excel XLSX Workbooks file format.
   * @param inputFile Input file to perform the operation on. (required)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentCsvToXlsx(File inputFile) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentCsvToXlsxWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert CSV to Excel XLSX Spreadsheet
   * Convert CSV file to Office Excel XLSX Workbooks file format.
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentCsvToXlsxWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentCsvToXlsxRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentCsvToXlsx", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentCsvToXlsxRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentCsvToXlsx");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/csv/to/xlsx";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Word DOC (97-03) Document to DOCX
   * Convert/upgrade Office Word (97-2003 Format) Documents (doc) to the modern DOCX format
   * @param inputFile Input file to perform the operation on. (required)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentDocToDocx(File inputFile) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentDocToDocxWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert Word DOC (97-03) Document to DOCX
   * Convert/upgrade Office Word (97-2003 Format) Documents (doc) to the modern DOCX format
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentDocToDocxWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentDocToDocxRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentDocToDocx", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentDocToDocxRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentDocToDocx");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/doc/to/docx";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Word DOC (97-03) Document to PDF
   * Convert Office Word (97-2003 Format) Documents (doc) to standard PDF
   * @param inputFile Input file to perform the operation on. (required)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentDocToPdf(File inputFile) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentDocToPdfWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert Word DOC (97-03) Document to PDF
   * Convert Office Word (97-2003 Format) Documents (doc) to standard PDF
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentDocToPdfWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentDocToPdfRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentDocToPdf", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentDocToPdfRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentDocToPdf");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/doc/to/pdf";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Word DOC (97-03) Document to Text (txt)
   * Convert Office Word DOC (97-03) Document (doc) to text
   * @param inputFile Input file to perform the operation on. (required)
   * @return TextConversionResult
   * @throws ApiException if fails to make API call
   */
  public TextConversionResult convertDocumentDocToTxt(File inputFile) throws ApiException {
    ApiResponse<TextConversionResult> localVarResponse = convertDocumentDocToTxtWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert Word DOC (97-03) Document to Text (txt)
   * Convert Office Word DOC (97-03) Document (doc) to text
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;TextConversionResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TextConversionResult> convertDocumentDocToTxtWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentDocToTxtRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentDocToTxt", localVarResponse);
        }
        return new ApiResponse<TextConversionResult>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<TextConversionResult>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentDocToTxtRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentDocToTxt");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/doc/to/txt";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, text/json, application/xml, text/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Word DOCX Document to Legacy Word DOC (97-03)
   * Convert/downgrade modern Office Word DOCX Documents (DOCX) to the legacy Word DOC (97-2003 Format) format
   * @param inputFile Input file to perform the operation on. (required)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentDocxToDoc(File inputFile) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentDocxToDocWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert Word DOCX Document to Legacy Word DOC (97-03)
   * Convert/downgrade modern Office Word DOCX Documents (DOCX) to the legacy Word DOC (97-2003 Format) format
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentDocxToDocWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentDocxToDocRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentDocxToDoc", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentDocxToDocRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentDocxToDoc");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/docx/to/doc";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Word DOCX Document to HTML Document
   * Convert Office Word Document (DOCX) to HTML Document
   * @param inputFile Input file to perform the operation on. (required)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentDocxToHtml(File inputFile) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentDocxToHtmlWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert Word DOCX Document to HTML Document
   * Convert Office Word Document (DOCX) to HTML Document
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentDocxToHtmlWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentDocxToHtmlRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentDocxToHtml", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentDocxToHtmlRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentDocxToHtml");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/docx/to/html";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Word DOCX Document to JPG/JPEG image array
   * Converts an Office Word Document (DOCX) to an array of JPG/JPEG images, one for each page. Customize image quality using quality header.
   * @param inputFile Input file to perform the operation on. (required)
   * @param quality Optional; Set the JPEG quality level; lowest quality is 1 (highest compression), highest quality (lowest compression) is 100; recommended value is 75. Default value is 75. (optional)
   * @return DocxToJpgResult
   * @throws ApiException if fails to make API call
   */
  public DocxToJpgResult convertDocumentDocxToJpg(File inputFile, Integer quality) throws ApiException {
    ApiResponse<DocxToJpgResult> localVarResponse = convertDocumentDocxToJpgWithHttpInfo(inputFile, quality);
    return localVarResponse.getData();
  }

  /**
   * Convert Word DOCX Document to JPG/JPEG image array
   * Converts an Office Word Document (DOCX) to an array of JPG/JPEG images, one for each page. Customize image quality using quality header.
   * @param inputFile Input file to perform the operation on. (required)
   * @param quality Optional; Set the JPEG quality level; lowest quality is 1 (highest compression), highest quality (lowest compression) is 100; recommended value is 75. Default value is 75. (optional)
   * @return ApiResponse&lt;DocxToJpgResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DocxToJpgResult> convertDocumentDocxToJpgWithHttpInfo(File inputFile, Integer quality) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentDocxToJpgRequestBuilder(inputFile, quality);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentDocxToJpg", localVarResponse);
        }
        return new ApiResponse<DocxToJpgResult>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<DocxToJpgResult>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentDocxToJpgRequestBuilder(File inputFile, Integer quality) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentDocxToJpg");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/docx/to/jpg";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (quality != null) {
      localVarRequestBuilder.header("quality", quality.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json, text/json, application/xml, text/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Word DOCX Document to PDF
   * Convert Office Word Documents (docx) to standard PDF
   * @param inputFile Input file to perform the operation on. (required)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentDocxToPdf(File inputFile) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentDocxToPdfWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert Word DOCX Document to PDF
   * Convert Office Word Documents (docx) to standard PDF
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentDocxToPdfWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentDocxToPdfRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentDocxToPdf", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentDocxToPdfRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentDocxToPdf");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/docx/to/pdf";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Word DOCX Document to PNG image array
   * Converts an Office Word Document (DOCX) file to an array of PNG images, one for each page.
   * @param inputFile Input file to perform the operation on. (required)
   * @return DocxToPngResult
   * @throws ApiException if fails to make API call
   */
  public DocxToPngResult convertDocumentDocxToPng(File inputFile) throws ApiException {
    ApiResponse<DocxToPngResult> localVarResponse = convertDocumentDocxToPngWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert Word DOCX Document to PNG image array
   * Converts an Office Word Document (DOCX) file to an array of PNG images, one for each page.
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;DocxToPngResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DocxToPngResult> convertDocumentDocxToPngWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentDocxToPngRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentDocxToPng", localVarResponse);
        }
        return new ApiResponse<DocxToPngResult>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<DocxToPngResult>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentDocxToPngRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentDocxToPng");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/docx/to/png";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, text/json, application/xml, text/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Word DOCX Document to RTF
   * Convert an Office Word Document (DOCX) to Rich Text Format Document (RTF)
   * @param inputFile Input file to perform the operation on. (required)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentDocxToRtf(File inputFile) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentDocxToRtfWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert Word DOCX Document to RTF
   * Convert an Office Word Document (DOCX) to Rich Text Format Document (RTF)
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentDocxToRtfWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentDocxToRtfRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentDocxToRtf", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentDocxToRtfRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentDocxToRtf");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/docx/to/rtf";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Word DOCX Document to Text (txt)
   * Convert Office Word Documents (docx) to text
   * @param inputFile Input file to perform the operation on. (required)
   * @param textFormattingMode Optional; specify how whitespace should be handled when converting the document to text.  Possible values are &#39;preserveWhitespace&#39; which will attempt to preserve whitespace in the document and relative positioning of text within the document, and &#39;minimizeWhitespace&#39; which will not insert additional spaces into the document in most cases.  Default is &#39;minimizeWhitespace&#39;. (optional)
   * @return TextConversionResult
   * @throws ApiException if fails to make API call
   */
  public TextConversionResult convertDocumentDocxToTxt(File inputFile, String textFormattingMode) throws ApiException {
    ApiResponse<TextConversionResult> localVarResponse = convertDocumentDocxToTxtWithHttpInfo(inputFile, textFormattingMode);
    return localVarResponse.getData();
  }

  /**
   * Convert Word DOCX Document to Text (txt)
   * Convert Office Word Documents (docx) to text
   * @param inputFile Input file to perform the operation on. (required)
   * @param textFormattingMode Optional; specify how whitespace should be handled when converting the document to text.  Possible values are &#39;preserveWhitespace&#39; which will attempt to preserve whitespace in the document and relative positioning of text within the document, and &#39;minimizeWhitespace&#39; which will not insert additional spaces into the document in most cases.  Default is &#39;minimizeWhitespace&#39;. (optional)
   * @return ApiResponse&lt;TextConversionResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TextConversionResult> convertDocumentDocxToTxtWithHttpInfo(File inputFile, String textFormattingMode) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentDocxToTxtRequestBuilder(inputFile, textFormattingMode);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentDocxToTxt", localVarResponse);
        }
        return new ApiResponse<TextConversionResult>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<TextConversionResult>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentDocxToTxtRequestBuilder(File inputFile, String textFormattingMode) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentDocxToTxt");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/docx/to/txt";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (textFormattingMode != null) {
      localVarRequestBuilder.header("textFormattingMode", textFormattingMode.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json, text/json, application/xml, text/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Email EML file to HTML string
   * Convert Outlook Email EML file to HTML string and attachments. Supports images if they are base 64 inline.
   * @param inputFile Input file to perform the operation on. (required)
   * @param bodyOnly Optional; If true, the HTML string will only include the body of the email. Other information such as subject will still be given as properties in the response object. Default is false. (optional)
   * @param includeAttachments Optional; If false, the response object will not include any attachment files from the input file. Default is true. (optional)
   * @return EmlToHtmlResult
   * @throws ApiException if fails to make API call
   */
  public EmlToHtmlResult convertDocumentEmlToHtml(File inputFile, Boolean bodyOnly, Boolean includeAttachments) throws ApiException {
    ApiResponse<EmlToHtmlResult> localVarResponse = convertDocumentEmlToHtmlWithHttpInfo(inputFile, bodyOnly, includeAttachments);
    return localVarResponse.getData();
  }

  /**
   * Convert Email EML file to HTML string
   * Convert Outlook Email EML file to HTML string and attachments. Supports images if they are base 64 inline.
   * @param inputFile Input file to perform the operation on. (required)
   * @param bodyOnly Optional; If true, the HTML string will only include the body of the email. Other information such as subject will still be given as properties in the response object. Default is false. (optional)
   * @param includeAttachments Optional; If false, the response object will not include any attachment files from the input file. Default is true. (optional)
   * @return ApiResponse&lt;EmlToHtmlResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EmlToHtmlResult> convertDocumentEmlToHtmlWithHttpInfo(File inputFile, Boolean bodyOnly, Boolean includeAttachments) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentEmlToHtmlRequestBuilder(inputFile, bodyOnly, includeAttachments);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentEmlToHtml", localVarResponse);
        }
        return new ApiResponse<EmlToHtmlResult>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<EmlToHtmlResult>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentEmlToHtmlRequestBuilder(File inputFile, Boolean bodyOnly, Boolean includeAttachments) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentEmlToHtml");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/eml/to/html";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (bodyOnly != null) {
      localVarRequestBuilder.header("bodyOnly", bodyOnly.toString());
    }
    if (includeAttachments != null) {
      localVarRequestBuilder.header("includeAttachments", includeAttachments.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json, text/json, application/xml, text/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Email EML file to JPG/JPEG image array
   * Converts an Outlook Email File (EML) to an array of JPG/JPEG images, one for each page. Customize image quality using quality header.
   * @param inputFile Input file to perform the operation on. (required)
   * @param quality Optional; Set the JPEG quality level; lowest quality is 1 (highest compression), highest quality (lowest compression) is 100; recommended value is 75. Default value is 75. (optional)
   * @return EmlToJpgResult
   * @throws ApiException if fails to make API call
   */
  public EmlToJpgResult convertDocumentEmlToJpg(File inputFile, Integer quality) throws ApiException {
    ApiResponse<EmlToJpgResult> localVarResponse = convertDocumentEmlToJpgWithHttpInfo(inputFile, quality);
    return localVarResponse.getData();
  }

  /**
   * Convert Email EML file to JPG/JPEG image array
   * Converts an Outlook Email File (EML) to an array of JPG/JPEG images, one for each page. Customize image quality using quality header.
   * @param inputFile Input file to perform the operation on. (required)
   * @param quality Optional; Set the JPEG quality level; lowest quality is 1 (highest compression), highest quality (lowest compression) is 100; recommended value is 75. Default value is 75. (optional)
   * @return ApiResponse&lt;EmlToJpgResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EmlToJpgResult> convertDocumentEmlToJpgWithHttpInfo(File inputFile, Integer quality) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentEmlToJpgRequestBuilder(inputFile, quality);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentEmlToJpg", localVarResponse);
        }
        return new ApiResponse<EmlToJpgResult>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<EmlToJpgResult>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentEmlToJpgRequestBuilder(File inputFile, Integer quality) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentEmlToJpg");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/eml/to/jpg";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (quality != null) {
      localVarRequestBuilder.header("quality", quality.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json, text/json, application/xml, text/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Email EML file to PDF document
   * Convert Outlook Email EML file to PDF document. Supports images if they are base 64 inline.
   * @param inputFile Input file to perform the operation on. (required)
   * @param bodyOnly Optional; If true, the HTML string will only include the body of the email. Other information such as subject will still be given as properties in the response object. Default is false. (optional)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentEmlToPdf(File inputFile, Boolean bodyOnly) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentEmlToPdfWithHttpInfo(inputFile, bodyOnly);
    return localVarResponse.getData();
  }

  /**
   * Convert Email EML file to PDF document
   * Convert Outlook Email EML file to PDF document. Supports images if they are base 64 inline.
   * @param inputFile Input file to perform the operation on. (required)
   * @param bodyOnly Optional; If true, the HTML string will only include the body of the email. Other information such as subject will still be given as properties in the response object. Default is false. (optional)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentEmlToPdfWithHttpInfo(File inputFile, Boolean bodyOnly) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentEmlToPdfRequestBuilder(inputFile, bodyOnly);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentEmlToPdf", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentEmlToPdfRequestBuilder(File inputFile, Boolean bodyOnly) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentEmlToPdf");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/eml/to/pdf";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (bodyOnly != null) {
      localVarRequestBuilder.header("bodyOnly", bodyOnly.toString());
    }
    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Convert Email EML file to PNG image array
   * Converts an Outlook Email File (EML) to an array of PNG images, one for each page.
   * @param inputFile Input file to perform the operation on. (required)
   * @return EmlToPngResult
   * @throws ApiException if fails to make API call
   */
  public EmlToPngResult convertDocumentEmlToPng(File inputFile) throws ApiException {
    ApiResponse<EmlToPngResult> localVarResponse = convertDocumentEmlToPngWithHttpInfo(inputFile);
    return localVarResponse.getData();
  }

  /**
   * Convert Email EML file to PNG image array
   * Converts an Outlook Email File (EML) to an array of PNG images, one for each page.
   * @param inputFile Input file to perform the operation on. (required)
   * @return ApiResponse&lt;EmlToPngResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EmlToPngResult> convertDocumentEmlToPngWithHttpInfo(File inputFile) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentEmlToPngRequestBuilder(inputFile);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentEmlToPng", localVarResponse);
        }
        return new ApiResponse<EmlToPngResult>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<EmlToPngResult>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentEmlToPngRequestBuilder(File inputFile) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling convertDocumentEmlToPng");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/eml/to/png";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, text/json, application/xml, text/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Get PNG icon file for the file extension
   * Returns a PNG icon for the given file format extension as a file for download. User may specify the icon size. Supports over 100 file formats, with a generic icon for unsupported formats.
   * @param fileExtension Required; The file extension to be used for the icon. Limited to 4 AlphaNumeric characters. (required)
   * @param iconSize Optional; The desired width of the icon, preserving its aspect ratio. (optional)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] convertDocumentGetFileTypeIcon(String fileExtension, Integer iconSize) throws ApiException {
    ApiResponse<byte[]> localVarResponse = convertDocumentGetFileTypeIconWithHttpInfo(fileExtension, iconSize);
    return localVarResponse.getData();
  }

  /**
   * Get PNG icon file for the file extension
   * Returns a PNG icon for the given file format extension as a file for download. User may specify the icon size. Supports over 100 file formats, with a generic icon for unsupported formats.
   * @param fileExtension Required; The file extension to be used for the icon. Limited to 4 AlphaNumeric characters. (required)
   * @param iconSize Optional; The desired width of the icon, preserving its aspect ratio. (optional)
   * @return ApiResponse&lt;byte[]&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<byte[]> convertDocumentGetFileTypeIconWithHttpInfo(String fileExtension, Integer iconSize) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = convertDocumentGetFileTypeIconRequestBuilder(fileExtension, iconSize);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("convertDocumentGetFileTypeIcon", localVarResponse);
        }
        return new ApiResponse<byte[]>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<byte[]>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder convertDocumentGetFileTypeIconRequestBuilder(String fileExtension, Integer iconSize) throws ApiException {
    // verify the required parameter 'fileExtension' is set
    if (fileExtension == null) {
      throw new ApiException(400, "Missing the required parameter 'fileExtension' when calling convertDocumentGetFileTypeIcon");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/autodetect/get-icon";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (fileExtension != null) {
      localVarRequestBuilder.header("fileExtension", fileExtension.toString());
    }
    if (iconSize != null) {
      localVarRequestBuilder.header("iconSize", iconSize.toString());
    }
    localVarRequestBuilder.header("Accept", "application/octet-stream");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Get PNG icon byte array for the file extension
   * Returns a PNG icon for the given file format extension directly as a byte array. User may specify the icon size. Supports over 100 file formats, with a generic icon for unsupported formats.
   * @param fileExtension Required; The file extension to be used for the icon. Limited to 4 AlphaNumeric characters. (required)
   * @param iconSize Optional; The desired width of the icon, preserving its aspect ratio. (optional)
   * @return GetFileTypeIconResult
   * @throws ApiException if fails to make API call
   */
[...]
