/*
 * convertapi
 * Convert API lets you effortlessly convert file formats and types.
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.cloudmersive.client.native;

import com.cloudmersive.client.native.invoker.ApiClient;
import com.cloudmersive.client.native.invoker.ApiException;
import com.cloudmersive.client.native.invoker.ApiResponse;
import com.cloudmersive.client.native.invoker.Pair;

import java.io.File;
import com.cloudmersive.client.native.model.ViewerResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-10-15T17:26:27.275021200-07:00[America/Los_Angeles]")
public class ViewerToolsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ViewerToolsApi() {
    this(new ApiClient());
  }

  public ViewerToolsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create a web-based viewer
   * Creates an HTML embed code for a simple web-based viewer of a document; supports Office document types and PDF.
   * @param inputFile Input file to perform the operation on. (required)
   * @param width Optional; width of the output viewer in pixels (optional)
   * @param height Optional; height of the output viewer in pixels (optional)
   * @return ViewerResponse
   * @throws ApiException if fails to make API call
   */
  public ViewerResponse viewerToolsCreateSimple(File inputFile, Integer width, Integer height) throws ApiException {
    ApiResponse<ViewerResponse> localVarResponse = viewerToolsCreateSimpleWithHttpInfo(inputFile, width, height);
    return localVarResponse.getData();
  }

  /**
   * Create a web-based viewer
   * Creates an HTML embed code for a simple web-based viewer of a document; supports Office document types and PDF.
   * @param inputFile Input file to perform the operation on. (required)
   * @param width Optional; width of the output viewer in pixels (optional)
   * @param height Optional; height of the output viewer in pixels (optional)
   * @return ApiResponse&lt;ViewerResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ViewerResponse> viewerToolsCreateSimpleWithHttpInfo(File inputFile, Integer width, Integer height) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = viewerToolsCreateSimpleRequestBuilder(inputFile, width, height);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("viewerToolsCreateSimple", localVarResponse);
        }
        return new ApiResponse<ViewerResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ViewerResponse>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder viewerToolsCreateSimpleRequestBuilder(File inputFile, Integer width, Integer height) throws ApiException {
    // verify the required parameter 'inputFile' is set
    if (inputFile == null) {
      throw new ApiException(400, "Missing the required parameter 'inputFile' when calling viewerToolsCreateSimple");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/convert/viewer/create/web/simple";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (width != null) {
      localVarRequestBuilder.header("width", width.toString());
    }
    if (height != null) {
      localVarRequestBuilder.header("height", height.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json, text/json, application/xml, text/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
